<div layout="row" layout-fill>
    <!--this is left nav bar-->
    <div class="leftnav" layout="column" layout-align="start center">

        <ng-md-icon icon="dehaze" style="fill: white" size="36" ui-sref="home.mainContent"></ng-md-icon>
        <ng-md-icon icon="navigation" style="fill: white" size="36"></ng-md-icon>
        <ng-md-icon icon="insert_comment" style="fill: white" size="36"></ng-md-icon>
        <ng-md-icon icon="description" style="fill: white" size="36"></ng-md-icon>
    </div>

    <!--this is content area-->
    <ui-view></ui-view>
</div>