<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="libs/angular-material/angular-material.css">

<script src="libs/angular/angular.js"></script>
<script src="libs/angular-animate/angular-animate.js"></script>
<script src="libs/angular-aria/angular-aria.js"></script>
<script src="libs/angular-messages/angular-messages.js"></script>
<script src="libs/angular-material/angular-material.js"></script>

<script src="libs/angular-sortable-view/src/angular-sortable-view.js"></script>

<script src="app.js"></script>

<body ng-app="myApp" ng-controller="appController">




<md-content sv-root class="md-padding" layout-xs="column" layout="row">

    <!--/////////////todo items/////////////////////////////////////////////////////////-->
    <div sv-part="modelArray1" flex-xs flex-gt-xs="25" layout="column" >
        <md-card>
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools" ng-bind="key">{{item}}</h1>
            </md-toolbar>

            <md-card ng-repeat="item in modelArray1" sv-element>
                <md-card-title>
                    this is task {{item}} title
                </md-card-title>

                <md-card-actions layout="row" layout-align="end center">
                    <button class="md-button md-primary ">button </button>

                </md-card-actions>
            </md-card>

            <md-card ng-hide=" true"sv-element>
                <md-card-title>
                    this is task {{item}} title
                </md-card-title>

                <md-card-actions layout="row" layout-align="end center">
                    <button class="md-button md-primary ">button </button>

                </md-card-actions>
            </md-card>

        </md-card>
    </div>
    <!--/////////////todo items/////////////////////////////////////////////////////////-->


    <!--/////////////doing items/////////////////////////////////////////////////////////-->
    <div sv-part="modelArray2" flex-xs flex-gt-xs="25" layout="column" >
        <md-card>
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools" ng-bind="key">{{item}}</h1>
            </md-toolbar>


            <md-card ng-repeat="item in modelArray2" sv-element>
                <md-card-title>
                    this is task {{item}} title
                </md-card-title>

                <md-card-actions layout="row" layout-align="end center">
                    <button class="md-button md-primary ">button </button>

                </md-card-actions>
            </md-card>


        </md-card>
    </div>
    <!--/////////////doing items/////////////////////////////////////////////////////////-->


</md-content>

<!--
<div class="multi-multi-sortable" ng-repeat="foo in [0, 1, 2, 3]">

    <div class="sortable-container" sv-root="multiple_{{$odd}}" sv-part="modelArray1[$index]">

        <div class="md-button md-raised md-primary" ng-repeat="item in modelArray2[$index]" sv-element class="well multi">
            {{item}}
        </div>
        <hr>

    </div>

</div>
-->
<!--
<div sv-root>
    <div sv-part="modelArray1">
        <div ng-repeat="item in modelArray1" sv-element>
            <div>{{item}}</div>

        </div>
    </div>
    <hr>
    <div sv-part="modelArray2">
        <div ng-repeat="item in modelArray2" sv-element>
            <div>{{item}}</div>

        </div>
    </div>
</div>-->




</body>
</html>