<form ng-submit="login(login)" > <!--ng-hide="showLogin"-->
    <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input required type="email" name="clientEmail" ng-model="login.email"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>

            <div ng-messages="projectForm.clientEmail.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be look like an e-mail address and between 10 and 100 characters long.
                </div>
            </div>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input required name="social" type="password" ng-model="login.password"/>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
        </div>
    </div>
    <button flex="10" class="md-button md-primary md-raised" type="submit">Login</button>
    <!--<a ng-click="showLogin = false" class="md-primary">Dont Have an Account?</a>-->

</form>

<br>
<hr>
<br>
<form ng-submit="signup(signup)" ><!--ng-hide="showLogin"-->
    <div layout-gt-sm="row" >

        <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input required type="email" name="clientEmail" ng-model="signup.email"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>

            <div ng-messages="projectForm.clientEmail.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be look like an e-mail address and between 10 and 100 characters long.
                </div>
            </div>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input required name="social" type="password" ng-model="signup.password"/>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
        </div>

    </div>
    <button flex="10" class="md-button md-active md-raised" type="submit">SignUp</button>
    <!--<a ng-click="showLogin = true; message=''" class="md-primary">Already Signed Up?</a>-->
</form>


{{message}}