<md-dialog aria-label="Mango (Fruit)" ng-cloak class="flex-100" layout-fill>

    <md-subheader> move task <b>Todo</b>
        ICON
    </md-subheader>
    <form>

        <div layout="row">
            <div style="background-color: #fafafa; ; z-index:0" class="flex">
                <div class="md-dialog-content">
                    <md-input-container class="md-block">
                        <label>Name</label>
                        <input required name="name"/>
                        <div ng-messages="data.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <br/>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <input/>
                        <div ng-messages="data.dec.$error">
                        </div>
                    </md-input-container>

                </div>
                <div class="md-dialog-content">
                    <md-checkbox>
                        SubTask 1
                    </md-checkbox>
                    <br/>
                    <md-checkbox>
                        SubTask 2
                    </md-checkbox>
                    <br/>
                    <md-checkbox>
                        SubTask 3
                    </md-checkbox>
                    <br/>
                    <md-checkbox>
                        SubTask 4
                    </md-checkbox>
                    <br/>
                    <md-button md-no-ink class="md-primary">Add SubTask...</md-button>

                </div>

            </div>

            <md-whiteframe style="background-color: #ffffff; z-index:1" class="flex md-whiteframe-8dp">
                <div style="background-color: #fafafa; ; z-index:0" class="flex">
                    <div class="md-dialog-content">
                        <md-input-container>
                            <label>Name</label>
                            <input required name="name">
                            <div ng-messages="data.name.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <br/>
                        <md-input-container>
                            <label>Description</label>
                            <input>
                            <div ng-messages="data.dec.$error">
                            </div>
                        </md-input-container>

                    </div>
                    <div class="md-dialog-content">
                        <md-checkbox>
                            SubTask 1
                        </md-checkbox>
                        <br/>
                        <md-checkbox>
                            SubTask 2
                        </md-checkbox>
                        <br/>
                        <md-checkbox>
                            SubTask 3
                        </md-checkbox>
                        <br/>
                        <md-checkbox>
                            SubTask 4
                        </md-checkbox>
                        <br/>
                        <md-button md-no-ink class="md-primary">Add SubTask...</md-button>

                    </div>
                </div>
            </md-whiteframe>




                <div style="background-color: #fafafa; ; z-index:0"  class="flex">
                       <md-datepicker  ng-model="user.submissionDate" md-placeholder="Set Due Date" style="background-color: #fafafa;">
                       </md-datepicker>
                       <br/>
                    <div class="center">
                        <b>Assign to Users</b> <br/>
                        <md-button class="md-raised md-primary">+ add</md-button>

                    </div>



                </div>
        </div>




    </form>
</md-dialog>