<div layout="row">
    <div flex class="md-headline">{{userName.password.email}}</div>
    <button class="md-button md-warn" ng-click="logout()">Logout</button>
</div>

<div>
    <b>back end view</b>
    <span ng-repeat="item in project"> <br> {{item | json}}  </span>
</div>




<md-content sv-root class="md-padding" layout-xs="column" layout="row">

    <div sv-part="value" ng-repeat="(key , value) in project" flex-xs flex-gt-xs="25" layout="column">
        <md-card>

            <md-toolbar class="md-theme-light">
                <div class="md-toolbar-tools">
                    <h2>
                        <span ng-bind="key"></span>
                    </h2>
                    <span flex></span>
                    <md-button ng-show="key=='Todo'" class="md-icon-button" aria-label="Favorite">
                        <ng-md-icon icon="add_circle" style="fill: white " size="30"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-card ng-repeat="item in value" sv-element>
                <md-card-title >
                    <!--<button class="md-button md-primary" sv-handle>move</button>-->
                    {{item.value.title}}<br/>
                    {{item.value.detail}}<br/>
                    {{item.value.other}}<br/>
                </md-card-title>

                <md-card-actions layout="row" layout-align="end center">
                    <button  class="md-button md-primary md-raised" ng-click="delete(item.key, key )" >Delete</button>
                </md-card-actions>
            </md-card>

            <!--////////no item////////////////////-->
            <md-card ng-show="!value.length">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-subhead">No Item</span>
                    </md-card-header-text>
                </md-card-header>
            </md-card>
            <!--////////no item////////////////////-->

            <form ng-if="key=='Todo'" ng-submit="addNewTask(newTask,'Todo')">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Title</label>
                    <input md-maxlength="50" required ng-model="newTask.title"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Detail</label>
                    <input md-maxlength="150" required ng-model="newTask.detail"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>other</label>
                    <input md-maxlength="150" required ng-model="newTask.other"/>
                </md-input-container>
                <button class="md-button md-primary">subbmit</button>

            </form>

        </md-card>


    </div>
</md-content>
